body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
}
.color-container {
  width: 70%;
  margin: auto;
  margin-top: 6%;
  margin-left: 280px;
}
.color-container div {
  float: left;
  margin: auto;
}
.color {
  height: 120px;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 3%;
  margin-left: -60px;
}
